@charset "UTF-8";

/*tODAS AS DEMAIS MIDIAS*/

/*TYPICAL DEVICE BREAKPOINTS
PEQUENAS TELAS: ATÉ 600PX
CELULAR:DE 600PX ATÉ 768PX
TABLET: 768PX ATÉ 992PX
DESKTOP:998PX ATÉ 1200PX
GRANDES TELAS:ACIMA DE 1200PX

*/
@media print {
    
}
@media screen and (min-width: 768px) and (max-width:992px){ /*tablet*/

}


@media screen and (min-width: 992px) and (max-width:1200px){ /*desktop*/
    body{
        background-image:url(../);
    }

}
@media screen and (min-width: 1200px){/*telas grandes*/

}
    
