@charset "UTF-8";

/*tODAS AS DEMAIS MIDIAS*/

/*TYPICAL DEVICE BREAKPOINTS
PEQUENAS TELAS: ATÉ 600PX
CELULAR:DE 600PX ATÉ 768PX
TABLET: 768PX ATÉ 992PX
DESKTOP:998PX ATÉ 1200PX
GRANDES TELAS:ACIMA DE 1200PX

*/
@media print {
    *{
        font-family:;
    }
    body{
        background-image: url(../imagens/back-print.jpg)}
    img#phone{display:none ;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
body{background-image: url(../imagens/back-tablet.jpg)}
} 
/*tablet*/
@media screen and (min-width: 768px) and (max-width:992px){
    main{
        width:450px;
    }
img#phone{display:none ;}
img#tablet{display: block;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}
body{background-image: url(../imagens/back-tablet.jpg)}
} 
 /*desktop*/
@media screen and (min-width: 992px) and (max-width:1200px){ 
    main{
        width:600px;
    }
    img#phone{display:none ;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display:none ;}
    body{background-image: url(../imagens/back-pc.jpg)
    
    }
}/*telas grandes*/
@media screen and (min-width: 1200px){
    main{
        width:800px;
    }
    
    img#phone{display:none ;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    body{background-image: url(../imagens/back-tv.jpg)
    

    }

}
    
